spring:
  application:
    name: Backend-payment

  datasource:
    url: jdbc:h2:file:./data/appdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081

jwt:
  secret: my-super-secret-key-which-should-be-long
  expiration: 86400000  # 1 day in ms
